<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB TECH</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
<style>
    /*CSS Reset*/
    body {
        color: blueviolet;
        background: url('/img/img13.png');
        background-repeat: no-repeat;
        background-size: 1600px 600px;
        font-family: 'Baloo Bhai', cursive;

    }

    .left {
        display: inline-block;
        /*border: 2px solid red;*/
        position: absolute;
        left: 30px;
        top: 15px;

    }

    .left img {
        padding: 4px 20px;
        width: 50px;
    }

    .left div {
        line-height: 11px;
        font: bold;
        font-size: 23px;
        text-align: center;
    }

    .mid {
        display: block;
        width: 50%;

        margin: 20px auto;
        /*border: 2px solid greenyellow;*/


    }

    .right {

        position: absolute;
        right: 34px;
        top: 30px;
        display: inline-block;
        /*border: 2px solid blueviolet;*/

    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 23px;
    }

    .navbar li a {
        color: blueviolet;
        text-decoration: none;
        padding: 34px 23px;


    }

    .navbar li a:hover,
    .navbar li a.active {

        text-decoration: underline;
        color: blueviolet;

    }

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 0px 9px;
        background-color: white;
        color: blueviolet;
        padding: 4px 14px;
        border: 2px solid blueviolet;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: blueviolet;
        color: white;
    }


      
     .extra {
        background: url('/img/img16.png');
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 400px 400px;
        /*border: 2px solid red;*/
         width: 20%;
         height: 70%;
        position:absolute;
         padding: 60px 50px;
        left:60px;
        top:150px;
     }
    

     .extra button{
        display: block;
        width: 80%;
        margin: 40px 28px;
     }

     .extra2 {
        background: url('/img/img16.png');
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 400px 400px;
        /*border: 2px solid red;*/
         width: 100%;
         height: 70%;
        position:absolute;
         padding: 60px 50px;
        left:500px;
        top:1px;
     }
    

     .extra2 button{
        display: block;
        width: 60%;
        margin: 120px 25px;
     }

     .extra3 {
        background: url('/img/img16.png');
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 400px 400px;
        /*border: 2px solid red;*/
         width: 83%;
         height: 70%;
        position:absolute;
         padding: 60px 50px;
        left:1000px;
        top:1px;
     }
    

     .extra3 button{
        display: block;
        width: 70%;
        margin: 105px 25px;
     }

     .extra4 {
        background: url('/img/img16.png');
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 400px 400px;
        /*border: 2px solid red;*/
         width: 80%;
         height: 70%;
        position:absolute;
         padding: 60px 50px;
        left:200px;
        top:450px;
     }
    

     .extra4 button{
        display: block;
        width: 80%;
        margin: 140px 20px;
         
     }

 
     .extra5 {
        background: url('/img/img16.png');
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 400px 400px;
        /*border: 2px solid red;*/
         width: 80%;
         height: 70%;
        position:absolute;
         padding: 60px 50px;
        left:800px;
        top:450px;
     }
    

     .extra5 button{
        display: block;
        width: 80%;
        margin: 105px 20px;
         
     }

      h1{
        /*text-align: center;*/
        color: darkblue;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
     }

</style>

<body>
    <header class="header">
        <div class="left">
            <!-- left box for logo -->
            <img src="/img/img4.jpg" alt="">
            <div>JobGenie</div>
        </div>
        <div class="mid">
            <!-- mid box for navbar -->
            <ul class="navbar">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>

        </div>
    </header>
    
    <!-- <div class="objective">
        <button class="btn">Login User</button>
        <button class="btn">Login Recruiter</button>
    </div> -->
    <div class="objective">
       
           
            
            
            
            
    </div>

    
    <div class="extra">
        <!--<img src="img/img16.png" alt="">-->
        <h1>"Don't be afraid to start over. It's a brand new opportunity to rebuild what you truly want."</h1>
        <a href="/searchjob"><button class="btn">Search Job</button></a>
     

    <div class="extra2">
        <h1>"Believe you can and </h1>
        <h1>you’re halfway there"</h1>

        <a href="/postresume"><button class="btn">Post Resume</button></a>
    </div>

    <div class="extra3">
        <h1>"If you fell down yesterday, stand up today"</h1>
        <a href="/addskills/<%= em %>"><button 
             class="btn">Add Skills</button></a>
    </div>

  <div class="extra4">
        <h1>"Pleasure in the job puts perfection in the work"</h1>
        <a href="/jobsuggestion/<%= em %>"><button class="btn">See Job Suggestions</button></a>
    </div>

    <div class="extra5">
        <h1>"Beneath every excuse lies a fear. Practice being fearless"</h1>
        <a href="/updateresume/<%= em %>"><button class="btn">Update Resume</button></a>
    </div>

</body>

</html>